<% provide(:title, 'Contact') %>
<h1>Sample App Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial sample application contact page.</a>
  Don't call us, we'll call you!
</p>
